@font-face {
	font-family: IBMPlexMono;
	src: url(../Fonts/IMB_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: IBMPlexMono-Medium;
	src: url(../Fonts/IMB_Plex_Mono/IBMPlexMono-Medium.ttf);
}

@font-face {
	font-family: IBMPlexSans;
	src: url(../Fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
	font-family: IBMPlexSans-SemiBold;
	src: url(../Fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}
